* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --square-button-size: 44px;
    --accent-color: #0183FF;
    --accent-glow: rgba(1, 131, 255, 0.27);
    --background-color: #ffffff;
    --background-glow: rgba(255, 255, 255, 0.27);
    --darkened-background-color: #F7F8FC;
    --darkened-shadow: rgba(0, 0, 0, 0.06);
    --dark-shadow: rgba(0, 0, 0, 0.1);
}

.square-button {
    width: var(--square-button-size);
    height: var(--square-button-size);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--accent-color);
    border: none;
    border-radius: calc(0.2 * var(--square-button-size));
    padding: calc(0.1 * var(--square-button-size));
    transition: all 0.2s ease;
    filter: drop-shadow(0 0 10px var(--darkened-shadow));
}

.square-button svg {
    color: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-glow));
    transition: filter 0.2s ease;
}

.square-button:hover svg,
.square-button.active svg {
    filter: drop-shadow(0 0 10px var(--background-glow));
    color: var(--background-color);
}

.square-button:hover,
.square-button.active{
    background-color: var(--accent-color);
    color: var(--background-color);
}

.control-container {
    background-color: var(--darkened-background-color);
    gap: 5px;
    padding: 5px;
    border-radius: calc(5px / 2 + 0.2 * var(--square-button-size));
    filter: drop-shadow(0 0 20px var(--dark-shadow));
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}